.app{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.mapDiv{
  height: 85vh;
  width: 100vw;
  display: block;
}
.search-bar{
  position: fixed;
  bottom: 0;
  background-color: red;
}
.longitude{
}
.marker{
  background-image: url('https://i.imgur.com/oz3r3Wq.png');
  background-size: cover;
  width: 22px;
  height: 22px;
  background-color: yellow;
  border-radius: 11px;
  border: solid 3px darkslategray;
}
.marker-delivery{
  width: 22px;
  height: 22px;
  background-color: red;
}